.top-dishes{
    margin: 31px 51px;
}

.card-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    
}

@media screen and (max-width: 900px) {
    .card-part{
        justify-content: left;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding-bottom: 11px;
    }
}